{% extends "base.html" %}

{% block extrahead %}
  <!-- {{ super() }} -->
  <!-- Open Graph meta tags -->
  <meta property="og:title" content="Task Management (N-Tier) Application" />
  <meta property="og:description" content="Deploy an N-Tier Task App with Docker, K8s, Helm, and CI/CD via GitHub Actions & ArgoCD." />
  <meta property="og:image" content="https://mohammed-khubaib.github.io/N-Tier/assets/CICD_Pipeline_Preview.png" />
  <meta property="og:url" content="https://mohammed-khubaib.github.io/N-Tier" />
  <meta property="og:type" content="website" />
{% endblock %}
